<!DOCTYPE html>
<html>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
</head>
<body>
    <div id="comment"></div>
</body>
<script type="text/javascript">
  new Valine({
    el: '#comment' ,
    notify:false, 
    verify:false, 
    appId: 'HbwJX6VlvX0pOYkSsld2ijs1-gzGzoHsz',
    appKey: '15LRQ50WFXiAzIHRBLROQRQn',
    placeholder: 'just go go',
    path:window.location.pathname, 
    avatar:'mm' 
});
</script>
</html>
